# Feature Encoding

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame({
"Color": ["Red", "Green", "Blue", "Green", "Red"], "Size": ["Small", "Medium", "Large", "Medium", "Small"], "City": ["Hyderabad", "Delhi", "Mumbai", "Delhi", "Chennai"], "Target": [10, 20, 15, 25, 12]
})
df

   Color    Size       City  Target
0    Red   Small  Hyderabad      10
1  Green  Medium      Delhi      20
2   Blue   Large     Mumbai      15
3  Green  Medium      Delhi      25
4    Red   Small    Chennai      12

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
df["Color_Label"] = LabelEncoder().fit_transform(df["Color"])
df[["Color","Color_Label"]]

   Color  Color_Label
0    Red            2
1  Green            1
2   Blue            0
3  Green            1
4    Red            2

# One Hot Encoding

In [7]:
one_hot = pd.get_dummies(df["Color"], prefix="Color") 
one_hot

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1       False         True      False
2        True        False      False
3       False         True      False
4       False        False       True

In [8]:
one_hot = pd.get_dummies(df, columns=["Color"]) 
one_hot

     Size       City  Target  Color_Label  Color_Blue  Color_Green  Color_Red
0   Small  Hyderabad      10            2       False        False       True
1  Medium      Delhi      20            1       False         True      False
2   Large     Mumbai      15            0        True        False      False
3  Medium      Delhi      25            1       False         True      False
4   Small    Chennai      12            2       False        False       True

In [9]:
from sklearn.preprocessing import OrdinalEncoder

# Ordinal Encoding

In [10]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
order = [["Small","Medium","Large"]]
df["Size_Ordinal"] = OrdinalEncoder(categories=order).fit_transform(df[["Size"]])
df[["Size","Size_Ordinal"]]

     Size  Size_Ordinal
0   Small           0.0
1  Medium           1.0
2   Large           2.0
3  Medium           1.0
4   Small           0.0

# Target Encoding

In [12]:
import pandas as pd
te = df.groupby("City")["Target"].mean()

df["city_Target_Enc"] = df["City"].map(te)
df[["City","city_Target_Enc"]]

        City  city_Target_Enc
0  Hyderabad             10.0
1      Delhi             22.5
2     Mumbai             15.0
3      Delhi             22.5
4    Chennai             12.0

# Frequency Encoding

In [14]:
freq = df["City"].value_counts()
df["City_Freq_Enc"] = df["City"].map(freq)
df[["City","City_Freq_Enc"]]

        City  City_Freq_Enc
0  Hyderabad              1
1      Delhi              2
2     Mumbai              1
3      Delhi              2
4    Chennai              1

# Binary Encoding

In [17]:
import category_encoders as ce

ModuleNotFoundError: No module named 'category_encoders'

In [18]:
d_b =ce.BinaryEncoder(cols=["City"]).fit_transform(df["City"])
d_b

NameError: name 'ce' is not defined