# Feature Engineering

In [ ]:
it is the process of converting raw data into meaning ful features so that a ml model can understand patterns 
and make better predictions

# 1. Feature Exploration

In [ ]:
it is the process of analyzing and visualizing features to uncover patternsdistribution correlation and potential
issues in the dataset before applying ml

# 2. Feature Creation("Adds Intelligence")

In [ ]:
It is the process of generating new meaningful feature from existing data using domain knowledge or mathematial 
operations to help the model learn better patterns

* Why it "Adds Intelligence":
    1. Raw data may not show hidden relationships
    2. new features provide extra information
    3. Model cannot think logically- features guide learning

*Common types of feature creation:
    1. Domain-based features(real-world logic)
    2. Mathematical combinations(sum, average, ratio)
    3. Interaction features(combined effect of features)
    4. Polynomial features(non-linear relationship)

*Example:
    1. Total_marks = math + science
    2. Efficiency = Total_marks / Study_hours

*Impact on Model:
    1. Improve accuracy
    2. helps models capture complex patterns
    3. Makes simple models perform better

In [8]:
import pandas as pd
df=pd.DataFrame({
    "Study_Hours":[2,4,6,8,10],
    "Attendance":[60,70,80,90,95],
    "Maths":[40,55,65,75,80],
    "Science":[42,58,68,78,88]
})
df

   Study_Hours  Attendance  Maths  Science
0            2          60     40       42
1            4          70     55       58
2            6          80     65       68
3            8          90     75       78
4           10          95     80       88

# Domain-Based Feature

In [11]:
df["Total_Marks"] = df["Maths"] + df["Science"]
df

   Study_Hours  Attendance  Maths  Science  Total_marks  Total_Marks
0            2          60     40       42           82           82
1            4          70     55       58          113          113
2            6          80     65       68          133          133
3            8          90     75       78          153          153
4           10          95     80       88          168          168

# Mathematical Feature

In [13]:
df["Marks_per_Hour"] = df["Total_Marks"] / df["Study_Hours"]
df

,Study_Hours,Attendance,Maths,Science,Total_marks,Total_Marks,Marks_per_Hour
0,2,60,40,42,82,82,41.000000
1,4,70,55,58,113,113,28.250000
2,6,80,65,68,133,133,22.166667
3,8,90,75,78,153,153,19.125000
4,10,95,80,88,168,168,16.800000

# Interaction Feature

In [15]:
df["Study_Attendance_Interaction"]=df["Study_Hours"] * df["Attendance"]
df

,Study_Hours,Attendance,Maths,Science,Total_marks,Total_Marks,Marks_per_Hour,Study_Attendance_Interaction
0,2,60,40,42,82,82,41.000000,120
1,4,70,55,58,113,113,28.250000,280
2,6,80,65,68,133,133,22.166667,480
3,8,90,75,78,153,153,19.125000,720
4,10,95,80,88,168,168,16.800000,950

# Polynomial Feature

In [16]:
df["Study_Hours_Squared"] = df["Study_Hours"] ** 2
df

,Study_Hours,Attendance,Maths,Science,Total_marks,Total_Marks,Marks_per_Hour,Study_Attendance_Interaction,Study_Hours_Squared
0,2,60,40,42,82,82,41.000000,120,4
1,4,70,55,58,113,113,28.250000,280,16
2,6,80,65,68,133,133,22.166667,480,36
3,8,90,75,78,153,153,19.125000,720,64
4,10,95,80,88,168,168,16.800000,950,100

# 3. Feature Encoding

In [ ]:
the process of convering categorical or non numerical features into numeric form so ml models 
can process them effectively.

# 4. Feature Scaling

In [ ]:
the process of transforming numerical features to a standard range or distribution so that no feature 
dominates the learning process due to its scale.

# 5. Feature Selection

In [ ]:
the process of identifying  and keeping only the most relevant features while removing irrelevant or 
redundant ones to improve model performance and reduce overfitting.

Definition:
     - feature selection is the process of selecting only relavant features and removing irrelevant or reduntant ones
       to improve model performance
    
Why it "remove noise":
    -too many features confuse the model
    -irrelevant featres cause overfitting
    -noise reduces prediction accuracy

Types of feature selection:
    - filter methods(correlation,chi-square)
    - wrapper methods(forward,backward,rfe)
    - embedded(lasso,tree-based models)

Example:
    -Removing weakly correated features
    -Dropping features with zero importance
    -selecting to features using RFE(recursive feature elimination)
    
Impact on Models:
    -reduce overfitting
    -improves generalization
    -speedsup training

# Filter methods(statistics_based)

In [11]:
X = df.drop("Science", axis=1)
Y= df ["Science"]
X

NameError: name 'df' is not defined